{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "API to Add/Remove/List Guest Diagnostics Configuration to Azure Resources",
        "title": "Guest Diagnostic Settings",
        "version": "2018-06-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-ms-code-generation-settings": {
            "name": "MonitorManagementClient"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2018-06-01-preview/guestDiagnosticSettings_API.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "monitor-guestDiagnosticSettings_API",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/microsoft.insights/guestDiagnosticSettings": {
            "get": {
                "description": "Get a list of all guest diagnostic settings in a subscription.",
                "operationId": "guestDiagnosticsSettings_List",
                "parameters": [
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of guest diagnostic settings.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Provides the link to retrieve the next set of elements.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of guest diagnostic settings.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "An azure resource object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Azure resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "Azure resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags"
                                                            },
                                                            "type": {
                                                                "description": "Azure resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Virtual machine guest diagnostics settings resource.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The diagnostic settings to be applied to azure resources.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "dataSources": {
                                                                "description": "the array of data source object which are configured to collect and send data",
                                                                "items": {
                                                                    "description": "Data source object contains configuration to collect telemetry and one or more sinks to send that telemetry data to",
                                                                    "properties": {
                                                                        "configuration": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "eventLogs": {
                                                                                    "description": "Windows event logs configuration.",
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "filter": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "logName": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "logName"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "perfCounters": {
                                                                                    "description": "Performance counter configuration",
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "instance": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "name": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "samplingPeriod": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "name",
                                                                                            "samplingPeriod"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "providers": {
                                                                                    "description": "ETW providers configuration",
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "events": {
                                                                                                "items": {
                                                                                                    "properties": {
                                                                                                        "filter": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "id": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "name": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "required": [
                                                                                                        "name",
                                                                                                        "id"
                                                                                                    ],
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "type": "array"
                                                                                            },
                                                                                            "id": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "id",
                                                                                            "events"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            }
                                                                        },
                                                                        "kind": {
                                                                            "description": "Datasource kind",
                                                                            "enum": [
                                                                                "PerformanceCounter",
                                                                                "ETWProviders",
                                                                                "WindowsEventLogs"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "sinks": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "kind": {
                                                                                        "enum": [
                                                                                            "EventHub",
                                                                                            "ApplicationInsights",
                                                                                            "LogAnalytics"
                                                                                        ],
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "kind"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "kind",
                                                                        "configuration",
                                                                        "sinks"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "osType": {
                                                                "description": "Operating system type for the configuration",
                                                                "enum": [
                                                                    "Windows",
                                                                    "Linux"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "proxySetting": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred and the list of guest diagnostic settings could not be retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/guestDiagnosticSettings": {
            "get": {
                "description": "Get a list of all guest diagnostic settings in a resource group.",
                "operationId": "guestDiagnosticsSettings_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of guest diagnostic settings.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Provides the link to retrieve the next set of elements.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of guest diagnostic settings.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "An azure resource object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Azure resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "Azure resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags"
                                                            },
                                                            "type": {
                                                                "description": "Azure resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Virtual machine guest diagnostics settings resource.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The diagnostic settings to be applied to azure resources.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "dataSources": {
                                                                "description": "the array of data source object which are configured to collect and send data",
                                                                "items": {
                                                                    "description": "Data source object contains configuration to collect telemetry and one or more sinks to send that telemetry data to",
                                                                    "properties": {
                                                                        "configuration": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "eventLogs": {
                                                                                    "description": "Windows event logs configuration.",
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "filter": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "logName": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "logName"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "perfCounters": {
                                                                                    "description": "Performance counter configuration",
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "instance": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "name": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "samplingPeriod": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "name",
                                                                                            "samplingPeriod"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "providers": {
                                                                                    "description": "ETW providers configuration",
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "events": {
                                                                                                "items": {
                                                                                                    "properties": {
                                                                                                        "filter": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "id": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "name": {
                                                                                                            "type": "string"
                                                                                                        }
                                                                                                    },
                                                                                                    "required": [
                                                                                                        "name",
                                                                                                        "id"
                                                                                                    ],
                                                                                                    "type": "object"
                                                                                                },
                                                                                                "type": "array"
                                                                                            },
                                                                                            "id": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "id",
                                                                                            "events"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            }
                                                                        },
                                                                        "kind": {
                                                                            "description": "Datasource kind",
                                                                            "enum": [
                                                                                "PerformanceCounter",
                                                                                "ETWProviders",
                                                                                "WindowsEventLogs"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "sinks": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "kind": {
                                                                                        "enum": [
                                                                                            "EventHub",
                                                                                            "ApplicationInsights",
                                                                                            "LogAnalytics"
                                                                                        ],
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "kind"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "kind",
                                                                        "configuration",
                                                                        "sinks"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "osType": {
                                                                "description": "Operating system type for the configuration",
                                                                "enum": [
                                                                    "Windows",
                                                                    "Linux"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "proxySetting": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred and the list of guest diagnostic settings could not be retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.insights/guestDiagnosticSettings/{diagnosticSettingsName}": {
            "delete": {
                "description": "Delete guest diagnostics settings.",
                "operationId": "guestDiagnosticsSettings_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the diagnostic setting.",
                        "in": "path",
                        "name": "diagnosticSettingsName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The diagnostic settings was successfully deleted."
                    },
                    "204": {
                        "description": "The diagnostic settings does not exist. It may have already been deleted."
                    },
                    "default": {
                        "description": "An error occurred and the diagnostic settings could not be deleted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "GuestDiagnosticsSettings"
                ]
            },
            "get": {
                "description": "Gets guest diagnostics settings.",
                "operationId": "guestDiagnosticsSettings_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the diagnostic setting.",
                        "in": "path",
                        "name": "diagnosticSettingsName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Virtual machine guest diagnostics settings resource.",
                                    "properties": {
                                        "properties": {
                                            "description": "The diagnostic settings to be applied to azure resources.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataSources": {
                                                    "description": "the array of data source object which are configured to collect and send data",
                                                    "items": {
                                                        "description": "Data source object contains configuration to collect telemetry and one or more sinks to send that telemetry data to",
                                                        "properties": {
                                                            "configuration": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "eventLogs": {
                                                                        "description": "Windows event logs configuration.",
                                                                        "items": {
                                                                            "properties": {
                                                                                "filter": {
                                                                                    "type": "string"
                                                                                },
                                                                                "logName": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "logName"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "perfCounters": {
                                                                        "description": "Performance counter configuration",
                                                                        "items": {
                                                                            "properties": {
                                                                                "instance": {
                                                                                    "type": "string"
                                                                                },
                                                                                "name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "samplingPeriod": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "name",
                                                                                "samplingPeriod"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "providers": {
                                                                        "description": "ETW providers configuration",
                                                                        "items": {
                                                                            "properties": {
                                                                                "events": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "filter": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "id": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "name": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "name",
                                                                                            "id"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id",
                                                                                "events"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                }
                                                            },
                                                            "kind": {
                                                                "description": "Datasource kind",
                                                                "enum": [
                                                                    "PerformanceCounter",
                                                                    "ETWProviders",
                                                                    "WindowsEventLogs"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "sinks": {
                                                                "items": {
                                                                    "properties": {
                                                                        "kind": {
                                                                            "enum": [
                                                                                "EventHub",
                                                                                "ApplicationInsights",
                                                                                "LogAnalytics"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "kind"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "kind",
                                                            "configuration",
                                                            "sinks"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "osType": {
                                                    "description": "Operating system type for the configuration",
                                                    "enum": [
                                                        "Windows",
                                                        "Linux"
                                                    ],
                                                    "type": "string"
                                                },
                                                "proxySetting": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred and the diagnostic settings could not be retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "GuestDiagnosticsSettings"
                ]
            },
            "patch": {
                "description": "Updates guest diagnostics settings.",
                "operationId": "guestDiagnosticsSettings_Update",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the diagnostic setting.",
                        "in": "path",
                        "name": "diagnosticSettingsName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An existing guest diagnostic settings was successfully updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Virtual machine guest diagnostics settings resource.",
                                    "properties": {
                                        "properties": {
                                            "description": "The diagnostic settings to be applied to azure resources.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataSources": {
                                                    "description": "the array of data source object which are configured to collect and send data",
                                                    "items": {
                                                        "description": "Data source object contains configuration to collect telemetry and one or more sinks to send that telemetry data to",
                                                        "properties": {
                                                            "configuration": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "eventLogs": {
                                                                        "description": "Windows event logs configuration.",
                                                                        "items": {
                                                                            "properties": {
                                                                                "filter": {
                                                                                    "type": "string"
                                                                                },
                                                                                "logName": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "logName"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "perfCounters": {
                                                                        "description": "Performance counter configuration",
                                                                        "items": {
                                                                            "properties": {
                                                                                "instance": {
                                                                                    "type": "string"
                                                                                },
                                                                                "name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "samplingPeriod": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "name",
                                                                                "samplingPeriod"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "providers": {
                                                                        "description": "ETW providers configuration",
                                                                        "items": {
                                                                            "properties": {
                                                                                "events": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "filter": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "id": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "name": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "name",
                                                                                            "id"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id",
                                                                                "events"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                }
                                                            },
                                                            "kind": {
                                                                "description": "Datasource kind",
                                                                "enum": [
                                                                    "PerformanceCounter",
                                                                    "ETWProviders",
                                                                    "WindowsEventLogs"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "sinks": {
                                                                "items": {
                                                                    "properties": {
                                                                        "kind": {
                                                                            "enum": [
                                                                                "EventHub",
                                                                                "ApplicationInsights",
                                                                                "LogAnalytics"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "kind"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "kind",
                                                            "configuration",
                                                            "sinks"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "osType": {
                                                    "description": "Operating system type for the configuration",
                                                    "enum": [
                                                        "Windows",
                                                        "Linux"
                                                    ],
                                                    "type": "string"
                                                },
                                                "proxySetting": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "A new guest diagnostic settings was successfully created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Virtual machine guest diagnostics settings resource.",
                                    "properties": {
                                        "properties": {
                                            "description": "The diagnostic settings to be applied to azure resources.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "dataSources": {
                                                    "description": "the array of data source object which are configured to collect and send data",
                                                    "items": {
                                                        "description": "Data source object contains configuration to collect telemetry and one or more sinks to send that telemetry data to",
                                                        "properties": {
                                                            "configuration": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "eventLogs": {
                                                                        "description": "Windows event logs configuration.",
                                                                        "items": {
                                                                            "properties": {
                                                                                "filter": {
                                                                                    "type": "string"
                                                                                },
                                                                                "logName": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "logName"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "perfCounters": {
                                                                        "description": "Performance counter configuration",
                                                                        "items": {
                                                                            "properties": {
                                                                                "instance": {
                                                                                    "type": "string"
                                                                                },
                                                                                "name": {
                                                                                    "type": "string"
                                                                                },
                                                                                "samplingPeriod": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "name",
                                                                                "samplingPeriod"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "providers": {
                                                                        "description": "ETW providers configuration",
                                                                        "items": {
                                                                            "properties": {
                                                                                "events": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "filter": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "id": {
                                                                                                "type": "integer"
                                                                                            },
                                                                                            "name": {
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "name",
                                                                                            "id"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "id": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id",
                                                                                "events"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                }
                                                            },
                                                            "kind": {
                                                                "description": "Datasource kind",
                                                                "enum": [
                                                                    "PerformanceCounter",
                                                                    "ETWProviders",
                                                                    "WindowsEventLogs"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "sinks": {
                                                                "items": {
                                                                    "properties": {
                                                                        "kind": {
                                                                            "enum": [
                                                                                "EventHub",
                                                                                "ApplicationInsights",
                                                                                "LogAnalytics"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "kind"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "kind",
                                                            "configuration",
                                                            "sinks"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "osType": {
                                                    "description": "Operating system type for the configuration",
                                                    "enum": [
                                                        "Windows",
                                                        "Linux"
                                                    ],
                                                    "type": "string"
                                                },
                                                "proxySetting": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred and the guest diagnostic settings could not be created or updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "An diagnostic settings object for the body of patch operations.",
                                "properties": {
                                    "properties": {
                                        "description": "The diagnostic settings for an update operation.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "dataSources": {
                                                "description": "the array of data source object which are configured to collect and send data",
                                                "items": {
                                                    "description": "Data source object contains configuration to collect telemetry and one or more sinks to send that telemetry data to",
                                                    "properties": {
                                                        "configuration": {
                                                            "type": "object",
[...]
